<!DOCTYPE html>
<html lang="en" xmlns:th=" http://thymeleaf.org">
<head>
    <title> Book Library </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/">Main page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/bookspage">Show Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/insertBookPage">Add Books</a>
        </li>
    </ul>
    <!-- Navbar text-->
    <span class="navbar-text" ></span>
</nav>
<br>
<h3 align="center">Existing books</h3>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Book name</th>
            <th>Author</th>
            <th>Purchase</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">id</td>
            <td th:text="${book.bookName}">Book name</td>
            <td th:text="${book.author}">author of book</td>
            <td th:text="${book.purchaseDate}">date</td>
            <td><a th:href="@{'http://localhost:8080/updatebook?id=' + ${book.id}}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
            <td><a th:href="@{'http://localhost:8080//deletebook?id=' + ${book.id}}">
                <span class="glyphicon glyphicon-trash"></span>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>


